<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body> </h1>
    <h1> BDPA History </h1>
    <img src="images/bdpalogo.png" alt="BDPA logo">
    <ol> 
    <li> Founders of BDPA Earl A. Pace Jr. and David Wimberly  </li> 
    <li> Founding of BDPA 1975 </li>
    <li> first chapter(s) Philadelphia, Washington DC, Cleveland </li>
    <li> Fisrt BPDA Conference year and venue: </li>
    <li> First HSCC year and venue:  </li>
    <li> Most recent venue and winner of HSCC: Alanta & Alanta </li>
    <li> Current national president od VP: Perry Carter (president) Eric Ejiof </li>
    <li> Current chapter president and VP: Rosmery Smith (president) Lynette McNeely  </li> 
    <li> Year and refounder of Milwaukee chapter reactivation: 2013, Carmen Giles  </li>
       </ol>
     </body> 
   </html>