<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body> </h1>
    <h1> welcome to BDPA 2025 </h1>
   
    <p> This page will be an intro to HSCC program </p>
   
    
     <ul> </ul>
     <body> </body>
     