<!DOCTYPE html>

<html>

<!-- Include statement has head section -->

<%- include('./partials/head') -%>

<body>
<!-- Include navigation menu -->
 <%- include('./partials/menu') -%>
<h1> sample data entry </h1>
<form name="SampleForm" action="/formentry method="POST">
<label for="firstname"> First Name: </label> <input type="text"  name="first name" id="firstname" require>
<label for="lastname"> Last Name: </label> <input type="text" name="lastname" id="lastname" require <br
Email: <input type="email" name="email" id="email" required> <br>
<input type="submit" value="Submit form">
Enter a number: <input type="number" name="num1" required>
Enter another number: <input type="number" name="num2" required>


</form>
</body>
</html>