<!DOCTYPE htm1>
<html>
    <!--Include head standard head partial-->
<%- include('./partials/head') -%>

<body>
<!--Include menu-->
<%- include('./partials/head') -%>

<h1> Sample form results </h1>
<!-- Taking in fn para-->
