<!DOCTYPE html>
<html>
  <!-- head partial gets included here -->
  <%- include('./partials/head') -%>
  <body>
    <!-- Include menu here -->
    <%- include('./partials/menu') -%>

    <h1> Election view information </h1>
    <p> Elections: <%= ElectionsArray %> </p>
